//font
$fontstyle: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
//color
$white: #fff;
$hexGray20: #333;
$hexGray13: #212121;
$skyBlue: #0099e8;
$red: #ea352d;
$hexWhite: #f5f5f5;
$hex: #eee;
//decoration
$shadow: 0 0 5px rgba(0,0,0,0.4);
