%aside.appBanner
  .inner
    %h2.inner__title スマホでかんたんフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = image_tag"mercari_icon.png", size: "68x68"
      = link_to image_tag("app-store.svg", size: "133x40", class: "linkIcon aBtn"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
      = link_to image_tag("google-play.svg", size: "133x40", class: "linkIcon gBtn"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
  = image_tag"download_content_pc.png", size: "300x262", class: "bgIcon"
