
= link_to "" do
  .purchaseBtn
    %span.purchaseBtn__text 出品
    =fa_icon "camera", class: "fa-4x purchaseBtn__icon"

= link_to "" do
  .purchaseBtn
    %span.purchaseBtn__text 出品
    = fa_icon "camera", class: "fa-4x purchaseBtn__icon"
