//category--show
.contentRight--cat {
  width: 700px;
  .indexBox {
    padding: 16px 8px;
    @include clearfix();
    .catIndex {
      a {
        @include indexBox();
      }
    }
  }
  .titleBox {
    background-color: $white;
    border-radius: 5px;
    h2 {
      border-radius: 5px 5px 0 0;
      padding: 16px 10px 8px;
      background-color: $red;
      color: $white;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
    }
    ul {
      padding: 8px;
      @include clearfix();
      li {
        float: left;
        line-height: 26px;
        margin: 10px;
        a {
          color: $skyBlue;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .productLists {
    margin: 30px 0;
    text-decoration: none;
    @include clearfix();
    .productList {
      float: left;
      width: calc(100% / 3);
      @include product();
      margin: 0 0 10px;
      a {
        text-decoration: none;
        display: inline-block;
        margin: 0 0 20px 0;
        position: relative;
        background-color: $white;
        .soldout--small {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 100px 100px 0 0;
          border-color: $red transparent transparent transparent;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
        .soldoutText--small {
          color: $white;
          position: absolute;
          left: 3px;
          top: 15px;
          font-size: 16px;
          font-weight: bold;
          width: 80px;
          z-index: 1;
        }
      }
    }
  }
}
//end

//categiory--index
.titleBox--index {
  background-color: $white;
  border-radius: 5px;
  padding: 0 0 10px;
  & + .titleBox--index {
    margin: 20px 0 0 0;
  }
  .catTitle {
    text-decoration: none;
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 16px 10px 8px;
    background-color: $red;
    color: $white;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
  }
  ul {
    padding: 8px;
    @include clearfix();
    li {
      float: left;
      line-height: 26px;
      margin: 10px;
      a {
        color: $skyBlue;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.catContents {
  padding: 16px;
  .catContent {
    .subTitle {
      color: $hexGray20;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
    }
  }
  .catItems {
    @include clearfix();
    padding: 0 0 0 20px;
    .catItem {
      margin: 8px 0;
      display: inline-block;
      width: calc(100% / 2);
      float: left;
      a {
        color: $skyBlue;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.topBtn {
  padding: 0 0 0 16px;
  a {
    font-size: 20px;
    text-decoration: none;
    color: $hexGray20;
  }
}
//end
