//devise--shared
.devise {
  background-color: $hexWhite;
  min-height: 100vh;
//end

//devise--header
  .deviseHeader {
    height: 128px;
    text-align: center;
    .headIcon {
      line-height: 128px;
    }
  }
//end

//devise--new
  .deviseSection {
    width: 100%;
    .inner {
      margin: 0 auto;
      background-color: $white;
      width: 700px;
      &--narrow {
        width: 456px;
        .resetTitle {
          line-height: 60px;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
        }
      }
      .newText {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
      }
      .title {
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        &--narrow {
          padding: 40px 64px 0;
          .deviseBtn--blue {
            display: block;
            height: 40px;
            margin: 40px 0;
            background: $skyBlue;
            text-align: center;
            width: 320px;
            font-size: 16px;
            line-height: 40px;
            color: $white;
            text-decoration: none;
          }
        }
      }
      .deviseForm {
        border-top: 1px solid $hexWhite;
        padding: 64px;
        &--none {
          padding: 0 0 40px 0;
        }
        .new_user {
          max-width: 320px;
          margin: 0 auto;
          .deviseForm__field {
            @include form();
            margin: 40px 0 0;
            &--top {
              margin: 0;
            }
            label {
              @include label();
            }
            .formRequired {
              @include required();
            }
            .inputField {
              @include input();
              &--small {
                width: 90px;
              }
              &__select {
                height: 50px;
                width: 100%;
              }
            }
          }
          .remember__field {
            margin: 10px 0 0 0;
          }
          .deviseForm__actions {
            .deviseBtn {
              @include btn();
            }
          }
        }
        a {
          display: block;
          margin: 40px auto 0;
          max-width: 320px;
          text-decoration: none;
          color: $skyBlue;
          font-size: 14px;
        }
      }
    }
  }
//end

//devise--footer
  .deviseFooter {
    .inner {
      width: 456px;
      height: 140px;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
      ul {
        position: relative;
        left: 6%;
        @include clearfix();
        li {
          float: left;
          font-size: 12px;
          padding: 0 10px;
          a {
            color: $hexGray20;
            text-decoration: none;
            display: inline-block;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .footerIcon {
        margin: 40px auto 0;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
//end
