.container
  .header
    %form

  .top-banner
    %img{alt: "トップページ画像1", height: "390", width: "500", src:"//www-mercari-jp.akamaized.net/assets/img/featured/newlife/keyvisual.png?3703848211"}

  .pickup-container
    %h2.pickup-header
      ピックアップカテゴリー
    %section.item-box-container
      %h3.ladies-pickup-header
        レディース新着アイテム
        .item-box-content
          .item-box
          .item-box
          .item-box
          .item-box

  .app-banner
    %img{alt: "トップページ画像1", height: "320", width: "262", src:"//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3703848211"}

  .footer
