@mixin form() {
  width: 100%;
}

@mixin btn($color: $white, $background: $red) {
  line-height: 48px;
  background: $background;
  border: 1px solid $background;
  color: $color;
  margin: 40px 0 0;
  width: 100%;
}

@mixin list() {
  .mypageTabs {
    height: 74px;
    @include clearfix();
    li {
      width: 50%;
      float: left;
      text-align: center;
      a {
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: $hexGray20;
        line-height: 74px;
        border-top: 2px solid $red;
      }
    }
  }
  .tabContent {
    ul {
      li {
        border-bottom: 1px solid #eee;
        min-height: 40px;
        padding: 16px;
        &:last-child {
          text-align: center;
        }
        .mypageBtn {
          display: block;
          line-height: 56px;
          background-color: #eee;
          color: $hexGray20;
          text-decoration: none;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@mixin clearfix() {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin label() {
  font-weight: 600;
  display: inline-block;
}

@mixin required() {
  background-color: $red;
  color: $white;
  font-size: 14px;
  border-radius: 2px;
  padding: 0 2px;
  display: inline-block;
}

@mixin input() {
  width: calc(100% - 32px);
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  font-size: 16px;
  height: 28px;
}

@mixin product() {
  .productList--img {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      z-index: auto;
    }
  }
  .productList--body {
    background-color: white;
    height: 78px;
    color: $hexGray20;
    padding: 16px;
    width: 188px;
    .name {
      overflow: hidden;
      height: 3em;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
    .details {
      font-size: 16px;
      ul {
        @include clearfix();
        li {
          float: left;
          &:last-child {
            float: right;
          }
        }
      }
      p {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}

@mixin indexBox() {
  display: inline-box;
  background-color: $white;
  float: left;
  border-radius: 4px;
  min-width: 80px;
  line-height: 40px;
  box-shadow: $shadow;
  text-align: center;
  padding: 0 30px;
  margin: 5px;
  color: $hexGray20;
  text-decoration: none;
  &:hover {
    color: $white;
    background-color: $red;
  }
}
